
body {
    font-family: "Work Sans", Arial, sans-serif;
    background: #fff;
    font-size: 15px;
    line-height: 1.8;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
}

body.menu-show {
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
}

body h1, body h2, body h3, body h4, body h5, body h6, body .h1, body .h2, body .h3, body .h4, body .h5, body .h6 {
    font-family: "futura-pt", Poppins, Arial, sans-serif;
    font-weight: 700;
}

a {
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
    color: #4e94bf;
}

a:hover, a:focus {
    text-decoration: none;
    color: #4e94bf;
    outline: none !important;
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.8);
}

.text-primary {
    color: #4e94bf !important;
}

.topper {
    font-size: 15px;
    width: 100%;
}

.topper .icon {
    width: 50px;
    height: 50px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 50%;
}

.topper .icon span {
    color: #4e94bf;
}

.topper .text {
    width: calc(100% - 50px);
}

.topper .text p {
    margin-bottom: 0;
    font-size: 12px;
}

.topper .text .con {
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 300;
}

.topper .text .con span {
    font-weight: 600;
    font-size: 13px;
    color: #000000;
}

.topper .text .con span:first-child {
    color: #4e94bf;
}

.topper .text .hr span {
    color: #000000;
    font-weight: 600;
    font-size: 13px;
}

.topper .text .time span:last-child {
    font-weight: 600;
    color: #4e94bf;
}

.topper .text .support-brand-image img {
    width: 250px;
    height: 80px;
}

.topper .topper-menu .nav-link {
    font-size: 0.75em;
    color: #000000;
    text-transform: uppercase;
    padding: 0.5rem 0.3rem;
}

.topper .topper-menu .nav-link:hover {
    text-decoration: underline;
}

.acephap-navbar-light {
    background: transparent !important;
    z-index: 3;
    padding: 0;
}

@media (max-width: 991.98px) {
    .acephap-navbar-light {
        background: #000000 !important;
        position: relative;
        top: 0;
        padding: 10px 15px;
    }
}

.acephap-navbar-light .navbar-brand {
    color: #000000;
}

.acephap-navbar-light .navbar-brand:hover, .acephap-navbar-light .navbar-brand:focus {
    color: #000000;
}

@media (max-width: 991.98px) {
    .acephap-navbar-light .navbar-brand {
        color: #fff;
    }
}

@media (max-width: 991.98px) {
    .acephap-navbar-light .navbar-nav {
        padding-bottom: 10px;
    }
}

.acephap-navbar-light .navbar-nav > .nav-item > .nav-link {
    font-size: 15px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
    color: #000000;
    letter-spacing: 1px;
    text-transform: uppercase;
    opacity: 1 !important;
}

.acephap-navbar-light .navbar-nav > .nav-item > .nav-link:hover {
    color: #000000;
}

@media (max-width: 991.98px) {
    .acephap-navbar-light .navbar-nav > .nav-item > .nav-link {
        padding-left: 0;
        padding-right: 0;
        padding-top: 0.9rem;
        padding-bottom: 0.9rem;
        color: rgba(255, 255, 255, 0.7);
    }

    .acephap-navbar-light .navbar-nav > .nav-item > .nav-link:hover {
        color: #fff;
    }
}

.acephap-navbar-light .navbar-nav > .nav-item .dropdown-menu {
    border: none;
    background: #fff;
    -webkit-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
    box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
}

.acephap-navbar-light .navbar-nav > .nav-item .dropdown-menu .dropdown-item {
    font-size: 14px;
}

.acephap-navbar-light .navbar-nav > .nav-item .dropdown-menu .dropdown-item:hover, .acephap-navbar-light .navbar-nav > .nav-item .dropdown-menu .dropdown-item:focus {
    background: transparent;
    color: #000000;
}

.acephap-navbar-light .navbar-nav > .nav-item.acephap-seperator {
    position: relative;
    margin-left: 20px;
    padding-left: 20px;
}

@media (max-width: 991.98px) {
    .acephap-navbar-light .navbar-nav > .nav-item.acephap-seperator {
        padding-left: 0;
        margin-left: 0;
    }
}

.acephap-navbar-light .navbar-nav > .nav-item.acephap-seperator:before {
    position: absolute;
    content: "";
    top: 10px;
    bottom: 10px;
    left: 0;
    width: 2px;
    background: rgba(255, 255, 255, 0.05);
}

@media (max-width: 991.98px) {
    .acephap-navbar-light .navbar-nav > .nav-item.acephap-seperator:before {
        display: none;
    }
}

.acephap-navbar-light .navbar-nav > .nav-item.cta > a {
    color: #000000;
}

@media (max-width: 767.98px) {
    .acephap-navbar-light .navbar-nav > .nav-item.cta > a {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 991.98px) {
    .acephap-navbar-light .navbar-nav > .nav-item.cta > a {
        color: #fff;
        background: #4e94bf;
    }
}

.acephap-navbar-light .navbar-nav > .nav-item.active > a {
    color: #4e94bf;
}

@media (max-width: 991.98px) {
    .acephap-navbar-light .navbar-nav > .nav-item.active > a {
        color: #fff;
    }
}

.acephap-navbar-light .navbar-toggler {
    border: none;
    color: rgba(255, 255, 255, 0.5) !important;
    cursor: pointer;
    padding-right: 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.1em;
}

.acephap-navbar-light .navbar-toggler:focus {
    outline: none !important;
}

.acephap-navbar-light.scrolled {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    margin-top: -130px;
    background: #fff !important;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.acephap-navbar-light.scrolled .nav-item.active > a {
    color: #4e94bf !important;
}

.acephap-navbar-light.scrolled .nav-item.cta > a {
    color: #fff !important;
    background: #4e94bf;
    border: none !important;
}

.acephap-navbar-light.scrolled .nav-item.cta > a span {
    display: inline-block;
    color: #fff !important;
}

.acephap-navbar-light.scrolled .nav-item.cta.cta-colored span {
    border-color: #4e94bf;
}

@media (max-width: 991.98px) {
    .acephap-navbar-light.scrolled .navbar-nav {
        background: none;
        border-radius: 0px;
        padding-left: 0rem !important;
        padding-right: 0rem !important;
    }
}

@media (max-width: 767.98px) {
    .acephap-navbar-light.scrolled .navbar-nav {
        background: none;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.acephap-navbar-light.scrolled .navbar-toggler {
    border: none;
    color: rgba(0, 0, 0, 0.5) !important;
    border-color: rgba(0, 0, 0, 0.5) !important;
    cursor: pointer;
    padding-right: 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.1em;
}

.acephap-navbar-light.scrolled .nav-link {
    padding-top: 0.9rem !important;
    padding-bottom: 0.9rem !important;
    color: #000000 !important;
}

.acephap-navbar-light.scrolled .nav-link.active {
    color: #4e94bf !important;
}

.acephap-navbar-light.scrolled.awake {
    margin-top: 0px;
    -webkit-transition: 0.3s all ease-out;
    -o-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
}

.acephap-navbar-light.scrolled.sleep {
    -webkit-transition: 0.3s all ease-out;
    -o-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
}

.acephap-navbar-light.scrolled .navbar-brand {
    color: #000000;
}

.navbar-brand {
    font-family: "futura-pt", Poppins, Arial, sans-serif;
    font-weight: 700;
    font-size: 34px;
    padding: 0;
    line-height: 1;
    color: #000000;
    margin-right: 0;
}

.navbar-brand span {
    font-family: "Work Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    display: block;
    color: rgba(0, 0, 0, 0.2);
    text-align: left;
}

.hero-wrap {
    width: 100%;
    height: 100%;
    position: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
}

@media (max-width: 991.98px) {
    .hero-wrap {
        background-position: top center !important;
    }
}

.hero-wrap .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    opacity: 0.5;
    background: #4e94bf;
}

.hero-wrap.hero-wrap-2 {
    height: 300px;
}

.hero-wrap.hero-wrap-2 {
    background: url('../../images/bg_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-wrap.hero-wrap-2 .slider-text {
    height: 300px;
}

.hero-wrap.hero-wrap-2 .slider-text .bread {
    font-weight: 700;
    color: #fff;
}

.hero-wrap.hero-wrap-2 .slider-text .breadcrumbs {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
}

.hero-wrap.hero-wrap-2 .slider-text .breadcrumbs span {
    color: #fff;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.hero-wrap.hero-wrap-2 .slider-text .breadcrumbs span a {
    color: #fff;
}

.owl-carousel {
    position: relative;
}

.owl-carousel .owl-item {
    opacity: 0.4;
}

.owl-carousel .owl-item.active {
    opacity: 1;
}

.owl-carousel .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
    position: absolute;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: -10px;
    color: #4e94bf !important;
    -o-transition: all 0.7s ease;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
    opacity: 0;
}

.owl-carousel .owl-nav .owl-prev span:before,
.owl-carousel .owl-nav .owl-next span:before {
    font-size: 30px;
}

.owl-carousel .owl-nav .owl-prev {
    left: 0;
}

.owl-carousel .owl-nav .owl-next {
    right: 0;
}

.owl-carousel .owl-dots {
    text-align: center;
}

.owl-carousel .owl-dots .owl-dot {
    width: 10px;
    height: 10px;
    margin: 5px;
    border-radius: 50%;
    background: #e6e6e6;
    position: relative;
}

.owl-carousel .owl-dots .owl-dot:after {
    position: absolute;
    top: -2px;
    left: -2px;
    right: 0;
    bottom: 0;
    width: 14px;
    height: 14px;
    content: "";
    border: 1px solid #e6e6e6;
    border-radius: 50%;
}

.owl-carousel .owl-dots .owl-dot:hover, .owl-carousel .owl-dots .owl-dot:focus {
    outline: none !important;
}

.owl-carousel .owl-dots .owl-dot.active {
    background: #b3b3b3;
}

.owl-carousel:hover .owl-nav .owl-prev,
.owl-carousel:hover .owl-nav .owl-next {
    opacity: 1;
}

.owl-carousel:hover .owl-nav .owl-prev {
    left: -25px;
}

.owl-carousel:hover .owl-nav .owl-next {
    right: -25px;
}

.owl-carousel.home-slider {
    position: relative;
    height: 600px;
    z-index: 0;
}

.owl-carousel.home-slider .slider-item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    height: 600px;
    position: relative;
    z-index: 0;
}

@media (max-width: 1199.98px) {
    .owl-carousel.home-slider .slider-item {
        background-position: center center !important;
    }
}

.owl-carousel.home-slider .slider-item .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000000;
    opacity: 0;
}

.owl-carousel.home-slider .slider-item .slider-text {
    height: 600px;
}

@media (max-width: 767.98px) {
    .owl-carousel.home-slider .slider-item .slider-text {
        text-align: center;
    }
}

.owl-carousel.home-slider .slider-item .slider-text .subheading {
    color: #000000;
    font-weight: 700;
}

.owl-carousel.home-slider .slider-item .slider-text .text {
    position: relative;
}

.owl-carousel.home-slider .slider-item .slider-text h1 {
    font-size: 50px;
    color: #000000;
    line-height: 1.2;
}

.owl-carousel.home-slider .slider-item .slider-text h1 span {
    display: block;
    color: #000000;
}

@media (max-width: 991.98px) {
    .owl-carousel.home-slider .slider-item .slider-text h1 {
        font-size: 30px;
    }
}

.owl-carousel.home-slider .slider-item .slider-text .subheading {
    font-size: 18px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.8);
}

.owl-carousel.home-slider .slider-item .slider-text p {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.8);
}

.owl-carousel.home-slider .slider-item .slider-text p strong {
    font-weight: 700;
}

.owl-carousel.home-slider .slider-item .slider-text p strong a {
    color: #fff;
}

.owl-carousel.home-slider .slider-item .slider-text .breadcrumbs {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
}

.owl-carousel.home-slider .slider-item .slider-text .breadcrumbs span {
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.owl-carousel.home-slider .slider-item .slider-text .breadcrumbs span a {
    color: #fff;
}

.owl-carousel.home-slider .owl-nav {
    position: absolute;
    top: 100%;
    width: 100%;
}

.owl-carousel.home-slider .owl-nav .owl-prev,
.owl-carousel.home-slider .owl-nav .owl-next {
    position: absolute;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: -10px;
    outline: none !important;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 0;
}

.owl-carousel.home-slider .owl-nav .owl-prev span:before,
.owl-carousel.home-slider .owl-nav .owl-next span:before {
    font-size: 30px;
    color: rgba(255, 255, 255, 0.5);
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.owl-carousel.home-slider .owl-nav .owl-prev:hover span:before, .owl-carousel.home-slider .owl-nav .owl-prev:focus span:before,
.owl-carousel.home-slider .owl-nav .owl-next:hover span:before,
.owl-carousel.home-slider .owl-nav .owl-next:focus span:before {
    color: #fff;
}

.owl-carousel.home-slider .owl-nav .owl-prev {
    left: 50%;
    margin-left: -80px;
}

.owl-carousel.home-slider .owl-nav .owl-next {
    right: 50%;
    margin-right: -80px;
}

.owl-carousel.home-slider:hover .owl-nav .owl-prev,
.owl-carousel.home-slider:hover .owl-nav .owl-next {
    opacity: 1;
}

.owl-carousel.home-slider:hover .owl-nav .owl-prev {
    left: 50%;
    margin-left: -80px;
}

.owl-carousel.home-slider:hover .owl-nav .owl-next {
    right: 50%;
    margin-right: -80px;
}

.owl-carousel.home-slider .owl-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 60px;
    width: 100%;
    text-align: center;
}

@media (max-width: 767.98px) {
    .owl-carousel.home-slider .owl-dots {
        bottom: 5px;
    }
}

.owl-carousel.home-slider .owl-dots .owl-dot {
    width: 10px;
    height: 10px;
    margin: 5px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.4);
}

.owl-carousel.home-slider .owl-dots .owl-dot.active {
    background: #fff;
}

.container {
    max-width: 1230px;
}

.bg-light {
    background: #fafafa !important;
}

.bg-white {
    background: #fff !important;
}

.bg-primary {
    background: #4e94bf;
}

.ftc-no-pb {
    padding-bottom: 0 !important;
}

.btn {
    cursor: pointer;
    border-radius: 40px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.btn:hover, .btn:active, .btn:focus {
    outline: none;
}

.btn.btn-primary {
    background: #4e94bf;
    border: 1px solid #4e94bf;
    color: #fff;
}

.btn.btn-primary:hover {
    border: 1px solid #4e94bf;
    background: transparent;
    color: #4e94bf;
}

.btn.btn-primary.btn-outline-primary {
    border: 1px solid #4e94bf;
    background: transparent;
    color: #4e94bf;
}

.btn.btn-primary.btn-outline-primary:hover {
    border: 1px solid transparent;
    background: #4e94bf;
    color: #fff;
}

.btn.btn-white {
    background: #fff;
    border: 1px solid #fff;
    color: #4e94bf;
}

.btn.btn-white:hover, .btn.btn-white:focus, .btn.btn-white:active {
    border: 1px solid #fff;
    color: #4e94bf;
}

.btn.btn-white.btn-outline-white {
    border-color: rgba(255, 255, 255, 0.8);
    background: none;
    border-radius: 30px;
    border-width: 1px;
    color: #fff;
}

.btn.btn-white.btn-outline-white:hover, .btn.btn-white.btn-outline-white:focus, .btn.btn-white.btn-outline-white:active {
    background: #fff;
    border-color: #fff;
    color: #4e94bf;
}

.btn.btn-secondary {
    background: #88a22c;
    border: 1px solid #88a22c;
    color: #fff;
}

.btn.btn-secondary:hover, .btn.btn-secondary:focus, .btn.btn-secondary:active {
    border: 1px solid #88a22c;
    color: #fff;
}

.btn-custom {
    font-weight: 500;
    color: #3a79a0;
    border-bottom: 4px solid #5d9dc4;
}

.img-2 {
    background-position: top center !important;
}

@media (max-width: 767.98px) {
    .img-2 {
        height: 300px;
        margin-bottom: 40px;
    }
}

.wrap-about {
    position: relative;
}

@media (min-width: 768px) {
    .wrap-about {
        padding-left: 6em;
    }
}

.wrap-about .founder .img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.wrap-about .founder .text {
    width: calc(100% - 70px);
}

.wrap-about .founder h3 {
    font-size: 24px;
    font-weight: 400;
}

.acephap-services .services {
    display: block;
    width: 100%;
    position: relative;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.acephap-services .services .img {
    height: 250px;
}

.acephap-services .services .icon {
    line-height: 1.3;
    position: relative;
    width: 80px;
    height: 80px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    margin: 0 auto;
    border-radius: 50%;
}

.acephap-services .services .icon span {
    font-size: 50px;
    color: #4e94bf;
}

.acephap-services .services .media-body h3 {
    font-size: 18px;
    color: #000000;
}

.intro {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

@media (max-width: 991.98px) {
    .intro {
        background-position: top center !important;
    }
}

.acephap-intro {
    padding: 4em 0;
    width: 100%;
    height: 100%;
    position: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 991.98px) {
    .acephap-intro {
        background-position: center center !important;
    }
}

.acephap-intro h2 {
    color: #fff;
    font-size: 36px;
}

.acephap-intro .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    opacity: 0.8;
    background: #4e94bf;
}

.staff {
    overflow: hidden;
    margin-bottom: 30px;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.staff .img-wrap {
    height: 300px;
}

.staff .img {
    width: 100%;
    display: block;
    background-position: top center;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.staff .text {
    position: relative;
    background: #fff;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.staff .text h3 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 0;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.staff .text .position {
    text-transform: uppercase;
    color: #b3b3b3;
    display: block;
    letter-spacing: 1px;
}

.staff .text .faded {
    opacity: 1;
}

.staff .acephap-social {
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    padding: 15px 10px;
    background: transparent;
    opacity: 1;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.staff .acephap-social li {
    width: 30px;
    height: 30px;
    position: relative;
}

.staff .acephap-social li a {
    color: #88a22c;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;
}

.staff:hover .acephap-social, .staff:focus .acephap-social {
    opacity: 1;
    top: -60px;
}

.staff:hover .img, .staff:focus .img {
    margin-top: -10px;
}

.staff:hover .text h3, .staff:focus .text h3 {
    color: #4e94bf;
}

.acephap-social {
    padding: 0;
}

.acephap-social li {
    list-style: none;
    margin-right: 10px;
    display: inline-block;
}

.pricing-entry {
    border: 1px solid #bed8e8;
    position: relative;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

@media (max-width: 767.98px) {
    .pricing-entry {
        margin-bottom: 4em;
    }
}

.pricing-entry > div {
    padding: 20px;
}

.pricing-entry > div p {
    margin-bottom: 0;
}

.pricing-entry h3 {
    font-size: 16px;
}

.pricing-entry p .price {
    font-weight: 300;
    font-size: 28px;
    color: #4e94bf;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.pricing-entry p .per {
    font-size: 12px;
}

.pricing-entry ul {
    margin: 0;
    padding: 0;
}

.pricing-entry ul li {
    list-style: none;
    padding: 10px 20px;
}

.pricing-entry ul li:nth-child(odd) {
    background: #fafafa;
}

.pricing-entry .button {
    position: absolute;
    bottom: -26px;
    left: 0;
    right: 0;
    margin-bottom: 0;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.pricing-entry .button .btn {
    border-radius: 30px;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.pricing-entry:hover .btn, .pricing-entry:focus .btn {
    background: #88a22c !important;
    border: 1px solid #88a22c !important;
    color: #fff !important;
}

.pricing-entry:hover .price, .pricing-entry:focus .price {
    color: #88a22c;
}

.block-20 {
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 275px;
    position: relative;
    display: block;
}

@media (min-width: 768px) {
    .blog-entry {
        margin-bottom: 30px;
    }
}

@media (max-width: 767.98px) {
    .blog-entry {
        margin-bottom: 30px;
    }
}

.blog-entry .text {
    position: relative;
    border-top: 0;
    border-radius: 2px;
}

.blog-entry .text .heading {
    font-size: 20px;
    margin-bottom: 16px;
}

.blog-entry .text .heading a {
    color: #000000;
}

.blog-entry .text .heading a:hover, .blog-entry .text .heading a:focus, .blog-entry .text .heading a:active {
    color: #4e94bf;
}

.blog-entry .text .meta-chat {
    color: #b3b3b3;
}

.blog-entry .text .read {
    color: #000000;
    font-size: 14px;
}

.blog-entry .meta-date {
    display: inline-block;
    background: #4e94bf;
}

.blog-entry .meta-date span {
    display: block;
    color: #fff;
}

.blog-entry .meta-date .day {
    font-weight: 300;
    font-size: 30px;
}

.blog-entry .meta-date .mos, .blog-entry .meta-date .yr {
    font-size: 13px;
}

.blog-entry .meta > div {
    display: block;
    margin-right: 5px;
    margin-bottom: 0px;
    font-size: 15px;
}

.blog-entry .meta > div a {
    color: #b3b3b3;
    font-size: 13px;
}

.blog-entry .meta > div a:hover {
    color: #cccccc;
}

.block-27 ul {
    padding: 0;
    margin: 0;
}

.block-27 ul li {
    display: inline-block;
    margin-bottom: 4px;
    font-weight: 400;
}

.block-27 ul li a, .block-27 ul li span {
    border: 1px solid #4e94bf;
    text-align: center;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
}

.block-27 ul li.active a, .block-27 ul li.active span {
    background: #4e94bf;
    color: #fff;
    border: 1px solid transparent;
}

@media (min-width: 768px) {
    .event-entry {
        margin-bottom: 30px;
    }
}

@media (max-width: 767.98px) {
    .event-entry {
        margin-bottom: 30px;
    }
}

.event-entry .text {
    position: relative;
    border-top: 0;
    border-radius: 2px;
}

.event-entry .text .heading {
    font-size: 20px;
    margin-bottom: 16px;
}

.event-entry .text .heading a {
    color: #000000;
}

.event-entry .text .heading a:hover, .event-entry .text .heading a:focus, .event-entry .text .heading a:active {
    color: #4e94bf;
}

.event-entry .meta-date {
    display: inline-block;
    background: #4e94bf;
}

.event-entry .meta-date span {
    display: block;
    color: #fff;
}

.event-entry .meta-date .day {
    font-weight: 300;
    font-size: 78px;
    font-family: "futura-pt", Poppins, Arial, sans-serif;
    line-height: 78px;
}

.event-entry .meta-date .mos {
    font-weight: 700;
}

.event-entry .meta-date .mos, .event-entry .meta-date .yr {
    font-size: 24px;
    text-transform: uppercase;
}

.press-entry {
    background: #fff;
    float: left;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
}

@media (max-width: 575.98px) {
    .press-entry {
        display: block !important;
    }
}

.press-entry .acephap-press-text,
.press-entry .acephap-press-img {
    width: 50%;
}

@media (max-width: 991.98px) {
    .press-entry .acephap-press-text,
    .press-entry .acephap-press-img {
        height: inherit;
        float: none !important;
        width: 100%;
        display: block !important;
    }
}

.press-entry .acephap-press-text {
    float: left;
    padding: 20px;
}

.press-entry .acephap-press-text .acephap-press-title {
    margin: 0 0 20px 0;
    padding: 0 0 10px 0;
    font-weight: 400;
    font-size: 20px;
    color: #343a40;
    position: relative;
}

.press-entry .acephap-press-text .acephap-press-title .acephap-border {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 30px;
    background: #4e94bf;
}

.press-entry .acephap-press-img {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    background-size: cover;
}

@media (max-width: 991.98px) {
    .press-entry .acephap-press-img {
        height: 200px;
        left: 0;
        top: 0;
        position: relative;
        width: 100%;
    }
}

.front-page-event-entry {
    background: #fff;
    float: left;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    /*.acephap-event-title,
    .acephap-event-datetime {
      width: 50%;

      @include media-breakpoint-down(md) {
        //@media screen and (max-width: $screen-xs) {
        height: inherit;
        float: none !important;
        width: 100%;
        display: block !important;
      }
    }*/
}

@media (max-width: 575.98px) {
    .front-page-event-entry {
        display: block !important;
    }
}

.front-page-event-entry .acephap-event-text {
    padding: 20px;
    margin-left: 60px;
}

.front-page-event-entry .acephap-event-text .acephap-event-title {
    margin: 0 0 20px 0;
    padding: 0 0 10px 0;
    font-weight: 400;
    font-size: 20px;
    color: #343a40;
    position: relative;
}

.front-page-event-entry .acephap-event-text .acephap-event-title .acephap-border {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 30px;
    background: #4e94bf;
}

.front-page-event-entry .acephap-event-datetime {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    background-size: cover;
    background-color: #4e94bf;
    color: #fff;
    min-width: 71px;
}

.front-page-event-entry .acephap-event-datetime .meta-date {
    display: inline-block;
    background: #4e94bf;
}

.front-page-event-entry .acephap-event-datetime .meta-date span {
    display: block;
    color: #fff;
}

.front-page-event-entry .acephap-event-datetime .meta-date .day {
    font-family: "futura-pt", Poppins, Arial, sans-serif;
    font-weight: 300;
    font-size: 3rem;
    line-height: 3.4rem;
}

.front-page-event-entry .acephap-event-datetime .meta-date .mos, .front-page-event-entry .acephap-event-datetime .meta-date .yr {
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: uppercase;
}

.front-page-event-entry .acephap-event-datetime .meta-date .yr {
    font-weight: normal;
}

@media (max-width: 991.98px) {
    .front-page-event-entry .acephap-event-datetime {
        height: 200px;
        left: 0;
        top: 0;
        position: relative;
        width: 100%;
    }
}

.more-from-link span {
    font-weight: 700;
}

.aside-stretch {
    background: #fff;
}

.aside-stretch:after {
    position: absolute;
    top: 0;
    left: 100%;
    bottom: 0;
    content: "";
    width: 360%;
    background: #fff;
}

@media (max-width: 767.98px) {
    .aside-stretch {
        background: transparent;
    }

    .aside-stretch:after {
        background: transparent;
        display: none;
    }
}

.form-control {
    height: 52px !important;
    background: #fff !important;
    color: #000000 !important;
    font-size: 18px;
    border-radius: 0px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-control:focus, .form-control:active {
    border-color: #000000;
}

textarea.form-control {
    height: inherit !important;
}

.acephap-animate {
    /*opacity: 0;
    visibility: hidden;*/
}

.acephap-animated {
    opacity: 1;
    visibility: visible;
}

.bg-primary {
    background: #4e94bf !important;
}

.bg-secondary {
    background: #88a22c !important;
}

.about-author .desc h3 {
    font-size: 24px;
}

.acephap-section {
    padding: 7em 0;
    position: relative;
}

.acephap-section main {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.7;
}

.acephap-no-pt {
    padding-top: 0;
}

.acephap-no-pb {
    padding-bottom: 0;
}

.acephap-bg-dark {
    background: #3c312e;
}

.acephap-footer {
    font-size: 14px;
    background: #4e94bf;
    padding: 6em 0;
}

.acephap-footer h2 {
    font-weight: normal;
    color: #fff;
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 400;
}

.acephap-footer .acephap-footer-widget {
    width: 100%;
    display: block;
}

.acephap-footer .acephap-footer-widget .logo {
    color: #fff;
}

.acephap-footer .acephap-footer-widget ul li a span {
    color: #fff;
}

.acephap-footer .acephap-footer-widget .btn-primary {
    background: #fff !important;
    border: 2px solid #fff !important;
}

.acephap-footer .acephap-footer-widget .btn-primary:hover {
    background: #fff;
    border: 2px solid #fff !important;
}

.acephap-footer p {
    color: rgba(255, 255, 255, 0.7);
}

.acephap-footer a {
    color: rgba(255, 255, 255, 0.7);
}

.acephap-footer a:hover {
    color: #fff;
}

.acephap-footer .acephap-heading-2 {
    font-size: 17px;
    font-weight: 400;
    color: #000000;
}

.acephap-footer .categories li {
    border-bottom-width: 0;
}

.acephap-footer .categories li a span {
    color: rgba(255, 255, 255, 0.5) !important;
}

.acephap-footer .subscribe-form .form-group {
    position: relative;
    margin-bottom: 0;
    border-radius: 0;
}

.acephap-footer .subscribe-form .form-group input {
    border-radius: 2px;
    width: 100%;
    background: rgba(255, 255, 255, 0.1) !important;
    border: none;
    color: rgba(255, 255, 255, 0.7) !important;
    font-size: 16px;
}

.acephap-footer .subscribe-form .form-group input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(255, 255, 255, 0.7) !important;
}

.acephap-footer .subscribe-form .form-group input::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.7) !important;
}

.acephap-footer .subscribe-form .form-group input:-ms-input-placeholder {
    /* IE 0+ */
    color: rgba(255, 255, 255, 0.7) !important;
}

.acephap-footer .subscribe-form .form-group input:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(255, 255, 255, 0.7) !important;
}

.acephap-footer .subscribe-form .form-group .submit {
    color: #fff !important;
    font-size: 16px;
    background: #88a22c !important;
    border: none !important;
    border-radius: 2px;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.acephap-footer .subscribe-form .form-group .submit:hover {
    cursor: pointer;
    background: #88a22c !important;
}

.acephap-footer .subscribe-form .icon {
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.8);
}

.acephap-footer .block-21 .text .heading {
    font-weight: 400;
    font-size: 16px;
}

.acephap-footer .block-21 .text .heading a {
    color: rgba(255, 255, 255, 0.9);
}

.acephap-footer .block-21 .text .heading a:hover, .acephap-footer .block-21 .text .heading a:active, .acephap-footer .block-21 .text .heading a:focus {
    color: #fff;
}

.acephap-footer .block-21 .text .meta > div {
    display: inline-block;
    font-size: 12px;
    margin-right: 5px;
}

.acephap-footer .block-21 .text .meta > div a {
    color: rgba(255, 255, 255, 0.5);
}

.acephap-footer .open-hours {
    color: #fff;
    font-size: 16px;
}

.acephap-footer .open-hours span {
    color: #fff;
}

.acephap-footer .contextual-region h2 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 400;
}

span.field-content.btn.btn-primary a {
    color: #fff;
}

span.field-content.btn.btn-primary a {
    color: #4e94bf;
}

.acephap-footer-social li {
    list-style: none;
    margin: 0 10px 0 0;
    display: inline-block;
}

.acephap-footer-social li a {
    height: 40px;
    width: 40px;
    display: block;
    float: left;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 50%;
    position: relative;
}

.acephap-footer-social li a span {
    position: absolute;
    font-size: 20px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.acephap-footer-social li a:hover {
    color: #fff;
}

.footer-small-nav > li {
    display: inline-block;
}

.footer-small-nav > li a {
    margin: 0 10px 10px 0;
}

.footer-small-nav > li a:hover, .footer-small-nav > li a:focus {
    color: #4e94bf;
}

.media .acephap-icon {
    width: 100px;
}

.media .acephap-icon span {
    color: #4e94bf;
}

#map {
    width: 100%;
}

@media (max-width: 767.98px) {
    #map {
        height: 300px;
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(78, 148, 191, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 30px rgba(78, 148, 191, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(78, 148, 191, 0);
    }
}

@keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(78, 148, 191, 0.4);
        box-shadow: 0 0 0 0 rgba(78, 148, 191, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 30px rgba(78, 148, 191, 0);
        box-shadow: 0 0 0 30px rgba(78, 148, 191, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(78, 148, 191, 0);
        box-shadow: 0 0 0 0 rgba(78, 148, 191, 0);
    }
}

.heading-section .subheading {
    font-weight: 400;
    font-size: 16px;
    display: block;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000000;
    position: relative;
}

.heading-section h2 {
    font-size: 34px;
}

@media (max-width: 767.98px) {
    .heading-section h2 {
        font-size: 28px;
    }
}

.heading-section.heading-section-white .subheading {
    color: rgba(255, 255, 255, 0.7);
}

.heading-section.heading-section-white h2 {
    font-size: 40px;
    color: #fff;
}

.heading-section.heading-section-white p {
    color: rgba(255, 255, 255, 0.9);
}

.heading-section .category {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 2px;
}

.heading-section .category span a {
    color: #000000;
}

.heading-section .category span.active {
    font-weight: 500;
}

.border-line {
    position: relative;
}

.border-line p {
    color: rgba(0, 0, 0, 0.5);
}

.hotel-img,
.img,
.blog-img,
.user-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.testimony-section {
    position: relative;
}

.testimony-section .owl-carousel {
    margin: 0;
}

.testimony-section .owl-carousel .owl-stage-outer {
    padding-top: 0;
    padding-bottom: 2em;
    position: relative;
}

.testimony-section .owl-nav {
    position: absolute;
    top: 100%;
    width: 100%;
}

.testimony-section .owl-nav .owl-prev,
.testimony-section .owl-nav .owl-next {
    position: absolute;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: -10px;
    outline: none !important;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 0;
}

.testimony-section .owl-nav .owl-prev span:before,
.testimony-section .owl-nav .owl-next span:before {
    font-size: 30px;
    color: rgba(0, 0, 0, 0.2);
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.testimony-section .owl-nav .owl-prev:hover span:before, .testimony-section .owl-nav .owl-prev:focus span:before,
.testimony-section .owl-nav .owl-next:hover span:before,
.testimony-section .owl-nav .owl-next:focus span:before {
    color: #000000;
}

.testimony-section .owl-nav .owl-prev {
    left: 50%;
    margin-left: -80px;
}

.testimony-section .owl-nav .owl-next {
    right: 50%;
    margin-right: -80px;
}

.testimony-section:hover .owl-nav .owl-prev,
.testimony-section:hover .owl-nav .owl-next {
    opacity: 1;
}

.testimony-section:hover .owl-nav .owl-prev {
    left: 50%;
    margin-left: -80px;
}

.testimony-section:hover .owl-nav .owl-next {
    right: 50%;
    margin-right: -80px;
}

.testimony-section .owl-dots {
    text-align: center;
}

.testimony-section .owl-dots .owl-dot {
    width: 10px;
    height: 10px;
    margin: 5px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2);
}

.testimony-section .owl-dots .owl-dot.active {
    background: #4e94bf;
}

.testimony-wrap {
    display: block;
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(0, 0, 0, 0.8);
}

.testimony-wrap .user-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: relative;
}

.testimony-wrap .text {
    width: calc(100% - 120px);
    position: relative;
}

.testimony-wrap .quote {
    position: absolute;
    top: 0px;
    left: 0;
}

.testimony-wrap .quote i {
    font-size: 24px;
    color: #4e94bf;
}

.testimony-wrap .name {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 0;
    color: #000000;
}

.testimony-wrap .position {
    font-size: 14px;
    color: #4e94bf;
}

@media (max-width: 767.98px) {
    .about-image {
        height: 400px;
        margin-bottom: 30px;
    }
}

.image-popup {
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
    opacity: 0;
}

#section-counter {
    position: relative;
    z-index: 0;
}

#section-counter:after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
    z-index: -1;
    opacity: 1;
    background: #4e94bf;
}

.acephap-counter {
    overflow-x: hidden;
    position: relative;
}

@media (max-width: 1199.98px) {
    .acephap-counter {
        background-position: center center !important;
    }
}

.acephap-counter .bg-counter {
    position: relative;
    background: #fff;
}

.acephap-counter .bg-counter h3.vr {
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-text-orientation: sideways;
    text-orientation: sideways;
    text-align: center;
    text-orientation: sideways;
    margin: 0rem;
    position: absolute;
    top: 0;
    right: -20px;
    height: 100%;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 4px;
    font-size: 16px;
    z-index: 1;
}

@media (max-width: 1199.98px) {
    .acephap-counter .bg-counter h3.vr {
        opacity: 0;
    }
}

.acephap-counter .block-18 {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.acephap-counter .text strong.number {
    font-weight: 800;
    font-size: 44px;
    color: #4e94bf;
    display: block;
}

.acephap-counter .text span {
    display: block;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 767.98px) {
    .acephap-counter .counter-wrap {
        margin-bottom: 20px;
    }
}

.acephap-counter .acephap-number {
    display: block;
    font-size: 72px;
    font-weight: bold;
    color: #4e94bf;
}

.acephap-counter .acephap-label {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.consultation {
    background: #4e94bf;
    color: rgba(255, 255, 255, 0.9);
    padding-top: 4em;
    padding-bottom: 4em;
}

.consultation.consul {
    background: #3a79a0;
}

.consultation h3 {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
}

.consultation .btn-custom {
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
}

.appointment-form .form-group {
    position: relative;
    width: 100%;
    display: block;
}

.appointment-form .form-group .icon {
    position: absolute;
    top: 50% !important;
    right: 0;
    font-size: 16px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.appointment-form .form-group .icon span {
    color: white !important;
}

.appointment-form .form-group .select-wrap, .appointment-form .form-group .input-wrap {
    position: relative;
}

.appointment-form .form-group .select-wrap select, .appointment-form .form-group .input-wrap select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.appointment-form .form-group .btn {
    width: 100%;
    display: block !important;
}

.appointment-form .form-control {
    border: transparent !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
    height: 40px !important;
    padding-left: 0;
    padding-right: 0;
    background: transparent !important;
    color: rgba(255, 255, 255, 0.9) !important;
    font-size: 13px;
    border-radius: 0px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.appointment-form .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(255, 255, 255, 0.9);
}

.appointment-form .form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.9);
}

.appointment-form .form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(255, 255, 255, 0.9);
}

.appointment-form .form-control:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(255, 255, 255, 0.9);
}

.appointment-form .form-control:focus, .appointment-form .form-control:active {
    border-color: #fff;
}

.appointment-form textarea.form-control {
    height: inherit !important;
}

.block-23 ul {
    padding: 0;
}

.block-23 ul li, .block-23 ul li > a {
    display: table;
    line-height: 1.5;
    margin-bottom: 15px;
}

.block-23 ul li span {
    color: rgba(255, 255, 255, 0.7);
}

.block-23 ul li .icon, .block-23 ul li .text {
    display: table-cell;
    vertical-align: top;
}

.block-23 ul li .icon {
    width: 40px;
    font-size: 18px;
    padding-top: 2px;
    color: white;
}

.contact-section .contact-info p a {
    color: #1a1a1a;
}

.contact-section .box {
    width: 100%;
    display: block;
}

.block-9 .form-control {
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    font-size: 15px;
}

.block-21 .blog-img {
    display: block;
    height: 80px;
    width: 80px;
}

.block-21 .text {
    width: calc(100% - 100px);
}

.block-21 .text .heading {
    font-size: 18px;
    font-weight: 400;
}

.block-21 .text .heading a {
    color: #000000;
}

.block-21 .text .heading a:hover, .block-21 .text .heading a:active, .block-21 .text .heading a:focus {
    color: #4e94bf;
}

.block-21 .text .meta > div {
    display: inline-block;
    font-size: 12px;
    margin-right: 5px;
}

.block-21 .text .meta > div a {
    color: gray;
}

/* Blog*/
.post-info {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    letter-spacing: 0.1em;
}

.post-info > div {
    display: inline-block;
}

.post-info > div .seperator {
    display: inline-block;
    margin: 0 10px;
    opacity: 0.5;
}

.tagcloud a {
    text-transform: uppercase;
    display: inline-block;
    padding: 4px 10px;
    margin-bottom: 7px;
    margin-right: 4px;
    border-radius: 4px;
    color: #000000;
    border: 1px solid #ccc;
    font-size: 11px;
}

.tagcloud a:hover {
    border: 1px solid #000;
}

.comment-form-wrap {
    clear: both;
}

.comment-list {
    padding: 0;
    margin: 0;
}

.comment-list .children {
    padding: 50px 0 0 40px;
    margin: 0;
    float: left;
    width: 100%;
}

.comment-list li {
    padding: 0;
    margin: 0 0 30px 0;
    float: left;
    width: 100%;
    clear: both;
    list-style: none;
}

.comment-list li .vcard {
    width: 80px;
    float: left;
}

.comment-list li .vcard img {
    width: 50px;
    border-radius: 50%;
}

.comment-list li .comment-body {
    float: right;
    width: calc(100% - 80px);
}

.comment-list li .comment-body h3 {
    font-size: 18px;
    font-weight: 500;
}

.comment-list li .comment-body .meta {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0.1em;
    color: #ccc;
}

.comment-list li .comment-body .reply {
    padding: 5px 10px;
    background: #e6e6e6;
    color: #000000;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 0.1em;
    font-weight: 400;
    border-radius: 4px;
}

.comment-list li .comment-body .reply:hover {
    color: #fff;
    background: black;
}

.search-form {
    background: #fafafa;
    padding: 10px;
}

.search-form .form-group {
    position: relative;
    margin-bottom: 0;
}

.search-form .form-group input {
    padding-right: 50px;
    font-size: 14px;
}

.search-form .icon {
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.subs-wrap {
    background: #4e94bf !important;
    display: block;
    width: 100%;
    color: rgba(255, 255, 255, 0.7);
}

.subs-wrap h3 {
    color: #fff;
    font-size: 30px !important;
}

.subscribe-form .form-group {
    position: relative;
    margin-bottom: 0;
    border-radius: 0;
}

.subscribe-form .form-group input {
    background: transparent !important;
    border: 1px solid transparent;
    color: rgba(255, 255, 255, 0.7) !important;
    font-size: 16px;
    border-radius: 0;
}

.subscribe-form .form-group input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(255, 255, 255, 0.7) !important;
}

.subscribe-form .form-group input::-moz-placeholder {
    /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.7) !important;
}

.subscribe-form .form-group input:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(255, 255, 255, 0.7) !important;
}

.subscribe-form .form-group input:-moz-placeholder {
    /* Firefox 18- */
    color: rgba(255, 255, 255, 0.7) !important;
}

.subscribe-form .form-group .form-control {
    border: 1px solid rgba(255, 255, 255, 0.4);
}

.subscribe-form .form-group .submit {
    color: #000000 !important;
    display: block;
    width: 100%;
    height: 52px;
    font-size: 16px;
    background: #fff !important;
    border-radius: 0;
}

.subscribe-form .form-group .submit:hover {
    cursor: pointer;
}

.subscribe-form .icon {
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 991.98px) {
    .sidebar {
        margin-top: 5em;
    }
}

.sidebar-box {
    margin-bottom: 30px;
    padding: 0 25px 25px;
    font-size: 15px;
    width: 100%;
}

.sidebar-box h3 {
    font-size: 18px;
    margin-bottom: 20px;
}

.categories, .sidelink {
    padding: 0;
}

.categories li, .sidelink li {
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dee2e6;
    list-style: none;
}

.categories li:last-child, .sidelink li:last-child {
    margin-bottom: 0;
    border-bottom: none;
    padding-bottom: 0;
}

.categories li a, .sidelink li a {
    display: block;
}

.categories li a span, .sidelink li a span {
    position: absolute;
    right: 0;
    top: 0;
    color: #ccc;
}

.categories li.active a, .sidelink li.active a {
    color: #000000;
    font-style: italic;
}

#acephap-loader {
    position: fixed;
    width: 96px;
    height: 96px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    -webkit-box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
    border-radius: 16px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.2s ease-out, visibility 0s linear 0.2s;
    -o-transition: opacity 0.2s ease-out, visibility 0s linear 0.2s;
    transition: opacity 0.2s ease-out, visibility 0s linear 0.2s;
    z-index: 1000;
}

#acephap-loader.fullscreen {
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    background-color: #fff;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#acephap-loader.show {
    -webkit-transition: opacity 0.4s ease-out, visibility 0s linear 0s;
    -o-transition: opacity 0.4s ease-out, visibility 0s linear 0s;
    transition: opacity 0.4s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

#acephap-loader .circular {
    -webkit-animation: loader-rotate 2s linear infinite;
    animation: loader-rotate 2s linear infinite;
    position: absolute;
    left: calc(50% - 24px);
    top: calc(50% - 24px);
    display: block;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

#acephap-loader .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    -webkit-animation: loader-dash 1.5s ease-in-out infinite;
    animation: loader-dash 1.5s ease-in-out infinite;
    stroke-linecap: round;
}

@-webkit-keyframes loader-rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loader-rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes loader-dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -136px;
    }
}

@keyframes loader-dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -136px;
    }
}
.bg-dark-primary{
    background-color: #eaeaea;}